@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    color: var(--pink);
}

:root {
    --pink: #C95F72;
    --brightpink: #ff1c46;
    --blue: #7A82AB;
    --darkblue: #21353d;
}